.paragraph_style {
    color: rgb(0, 0, 0);
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(0, 0, 0);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(0, 0, 0);
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(0, 0, 0);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_4 {
    color: rgb(0, 0, 0);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: rgb(0, 0, 0);
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    color: rgb(0, 0, 0);
    line-height: 18px;
    opacity: 1.00;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: rgb(81, 81, 81);
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(121, 121, 121);
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 44px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 0px;
}
.Normal_External_515_325 {
    position: relative;
}
.Normal_External_515_87 {
    position: relative;
}
.Normal_External_515_453 {
    position: relative;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
a {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a:visited {
    color: rgb(66, 66, 66);
    text-decoration: none;
}
a.class1 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class1:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class1:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class10 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class10:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class10:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class11 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class11:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class11:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class12 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class12:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class12:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class13 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class13:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class13:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class14 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class14:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class14:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class15 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class15:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class15:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class16 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class16:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class16:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class2 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class2:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class2:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class3 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class3:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class3:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class4 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class4:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class4:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class5 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class5:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class5:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class6 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class6:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class6:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class7 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class7:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class7:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class8 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class8:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class8:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a.class9 {
    color: rgb(183, 97, 78);
    text-decoration: none;
}
a.class9:visited {
    color: rgb(170, 121, 66);
    text-decoration: none;
}
a.class9:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
a:hover {
    color: rgb(224, 133, 102);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
